body {
    background-color: white;
    font-size: 12pt;
    margin: 0cm;
    width: 100%;
    line-height: 1.3;
    font-family: Georgia, 'EB Garamond', sans-serif;
}

h3 {
    font-size: 2.5rem;
    font-weight: bold;
}

.section, .personal {
    float: none !important;
    margin-top: 1cm;
}

.section.education {
    page-break-before: always;
}

@page {
    size: US-Letter;
    margin: 2cm 1cm 2cm 1cm;
}

div.row.bottom-breath {
    margin-bottom: 0.5em;
}

li {
    list-style: none;
    margin: 0mm 0mm 0mm 8mm;
    line-height: 1;
}

.right-align {
    text-align: right;
}

.private {
    display: none;
}

ul, dl, ol {
    margin: 0px;
}

.item {
    margin-bottom: 5mm;
}

.responsibilities {
    font-style: italic;
}

.employer {
}

.personal .name {
    font-weight: bold;
}